@model IEnumerable<FoodWasteManager.Models.FoodPost>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodBestBefore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodBestBefore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodPostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodPostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodPostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
