@model IEnumerable<FoodWasteManager.Models.FoodPost>
@using FoodWasteManager.Models;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FoodPosts Made:</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 mt-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card shadow rounded-5 d-flex flex-column" style="aspect-ratio: 1/1; max-width: 250px; margin: auto;">
                <div style="height: 50%; overflow: hidden;">
                    <img src="@Url.Content(item.FoodImage)" alt="@item.FoodName" class="w-100 h-100" style="object-fit: cover;" />
                </div>
                <div class="card-body d-flex flex-column p-2" style="overflow: hidden;">
                    <h6 class="card-title mb-1">@item.FoodName</h6>
                    <h3 class="mb-0 small">Qty: @item.FoodQuantity</h3>
                   
                    <h3 class="mb-0 small">Price: $@item.FoodPrice</h3>
                    <h4 class="mb-0 small">Best Before: @item.FoodBestBefore.ToShortDateString()</h4>
                    
                    <div class="mt-auto d-flex justify-content-between">
                        <a asp-controller="Applications" asp-action="Create" asp-route-FoodPostId="@item.FoodPostId" class="btn btn-sm btn-outline-danger">Apply!</a>
                        <a asp-action="Details" asp-route-id="@item.FoodPostId" class="btn btn-sm btn-outline-secondary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



