@model FoodWasteManager.Models.Application

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete an Application for a FoodPost?</h1>

<h3>Are you sure you want to delete this application?</h3>
<div>
    <h4>Application Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.QuantityRequired)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.QuantityRequired)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EarliestPickup)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EarliestPickup)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LatestPickup)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LatestPickup)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AStatus)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.AStatus)
        </dd>

        <dt class="col-sm-3">
            Food Post
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FoodPost.FoodName)
        </dd>

        <dt class="col-sm-3">
            Applicant
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Users.UserFirstName) @Html.DisplayFor(model => model.Users.UserLastName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ApplicationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
