@model IEnumerable<FoodWasteManager.Models.Application>

@{

    <h2>@ViewData["Title"]</h2>
   

    Layout = "~/Views/Shared/_Layout.cshtml";
}




<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="height: 50%; overflow: hidden;">
           <!--     -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarliestPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatestPickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AStatus)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodPost.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=> item.QuantityRequired)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarliestPickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatestPickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AStatus)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplicationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApplicationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApplicationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
