@model IEnumerable<FoodWasteManager.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurauntAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurauntAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RestaurantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RestaurantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RestaurantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
